* {
    box-sizing: border-box;
}

:root {
    --light-blue: #00dffc;
    --blue: #008c9e;
    --dark-blue: #005f6b;
    --black: #343838;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

main {
    width: 1440px;
    margin: 1rem auto 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.container__half {
    flex: 1;
}


/* SEARCH */

.wrapper_search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    background-color: var(--black);
}

.wrapper_search input {
    width: 60%;
    font-size: 1em;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(84, 84, 84, 0.32);
    padding: 1.1rem 0.5rem;
    background-color: white;
}


/* LISTING */

.wrapper_movies-list {
    width: 100%;
}

.wrapper_inner__movies-list .item_list {
    width: 100%;
    font-size: 1em;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(84, 84, 84, 0.32);
    padding: 15px 5px;
    background-color: #fcfbfb;
    height: 50px;
    cursor: pointer;
    margin-bottom: 15px;
}